<div class="card mb-5">
    <div class="card-header bg-secondary">
        <div class="blogImage">
            <img src={{img}} />
        </div>
        <div>
            <h6 class="card-title"><a class="text-info">{{title}}</a></h6>
            <h7 class="card-subtitle mb-2 text-light">Author: {{author}}, Publisher: {{publisher}}, Published on: {{published_date}}, Genre: {{genre}}</h7>
            <h8 class="card-subtitle mb-2 text-light">Posted by {{user.username}} </h8>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>