<div class="card mb-5">
    <div class="card-header bg-secondary">
        <div class="blogImage">
            <img src={{img}} />
        </div>
        <div>
            <h6 class="card-title"><a class="text-info">{{title}}</a></h6>
            <h7 class="card-subtitle mb-2 text-light">Author: {{author}}, Publisher: {{publisher}}, Published on:
                {{published_date}}, Genre: {{genre}}</h7>
            <h8 class="card-subtitle mb-2 text-light">Added by: {{user.username}} </h8>
        </div>

        {{#if posts.length}}
        <div>
            <h5>Posts</h5>
            {{#each posts as |post|}}
            {{> post-info post}}
            {{/each}}
        </div>
        {{else}}
        <h6 class="pb-2 has-text-centered noPosts">No posts for this book</h6>
        {{/if}}
    </div>
</div>