    <div class="col s6 left">
        <div class="blogImage">
            <img class="responsive-img" src={{img}} />
        </div>
        <div>
            <h6><a class="text-info">{{title}}</a></h6>
            <h7>Author: {{author}}, Publisher: {{publisher}}, Published on:
                {{published_date}}, Genre: {{genre}}</h7>
            <h8>Added by: {{user.username}} </h8>
        </div>
    </div>

     <div class="col s6 right">
        {{#if posts.length}}
        <div>
            <h5>Posts</h5>
            {{#each posts as |post|}}
            {{> post-info post}}
            {{/each}}
        </div>
        {{else}}
        <h6 class="pb-2 has-text-centered noPosts">No posts for this book</h6>
        {{/if}}
    </div>
