<div class="post-sec">
    <div>
        <div>
            <h6><a class="text-info">{{postDescription}}</a></h6>
            <h7>Posted By: {{user.username}} Posted on: {{format_date created_at}}  :: {{format_time created_at}}</h7>
            <button><a href="/post/{{id}}" style="color: white;">Add Comment</a></button>
        </div>

        {{#if comments.length}}
        <div>
            <h5>Comments</h5>
            {{#each comments as |comment|}}
            {{> comment-info comment}}
            {{/each}}
        </div>
        {{else}}
        <h6>No comment for this Post</h6>
        {{/if}}
    </div>
</div>